/*main colors that I'm using darkest to lightest
070C10
162736
203449
708594
00A7FF

/* Sticky footer styles ***************************************/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
  background-color: #162736;
  background-color: rgba(7, 12, 16, .7);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  line-height: 20px;
  /* Vertically center the text there */
}

/***********************************************************/
/************** Coloring *********************************/
/* Text color */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, label, span {
  /*color: #708594; */
  color: #00A7FF;
}

p {
  margin-left: 2%;
}

a {
  color: #00A7FF;
}

/* Menu Color */
/* Background Color */
/* Footer Color */
.footer {
  background-color: rgba(7, 12, 16, .7);
  text-align: right;
  padding-right: 1%;
}

.container {
  margin-left: 0px;
}

/***********************************************************/
h1 {
  margin-left: .5%;
}

/***************** navigationBar ************************************/
#navigationBar {
  margin-top: 2%;
  padding-right: 15%;
  padding-left: 15%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: rgba(7, 12, 16, .7);
}

#MarketNavigationBar {
  margin-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
  margin-left: 6%;
  margin-right: 6%;
  background-color: rgba(7, 12, 16, .7);
}

.nav-tabs .nav-link {
  color: rgba(0, 167, 255, .8);
}

.nav-tabs .nav-link.active {
  color: rgba(0, 167, 255, 1);
  background-color: #162736;
  border: 0px;
  border-bottom: 3px solid rgba(0, 167, 255, 1);
  background: transparent;
}

.nav-tabs .nav-item.show .nav-link {
  color: rgba(0, 167, 255, 1);
  background-color: #162736;
  border: 0px;
}

.nav-tabs .nav-link:hover:not(.nav-link.active) {
  border: 0px;
  color: rgba(0, 167, 255, 1);
}

.nav-tabs {
  border-bottom: 1px solid rgba(112, 133, 148, 0.3);
}

.dropdown-menu {
  background-color: #162736;
}

.dropdown-item {
  color: rgba(0, 167, 255, .5);
}

.dropdown-item:hover {
  color: rgba(0, 167, 255, 1);
  background-color: #162736;
}

/***********************************************************/
.marketInfoContainer {
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  text-align: center;
}

.chartContainer {
  height: auto;
  margin-bottom: 3%;
}

.tv-widget-chart .tv-widget-chart--with-border {
  background-color: #070C10 !important;
}

.marketInfoHeader {
  display: grid;
  grid-template: auto / auto 10% 10%;
}

.marketInfoHeader .bg-dark {
  background-color: transparent !important;
}

.marketInfoHeader .navbar-brand {
  padding-right: 2%;
  border-right: 2px solid #00A7FF;
}

.marketInfoHeader .navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 167, 255, .6);
}

.marketInfoHeader .navbar-dark .navbar-nav .nav-link.active {
  color: rgba(0, 167, 255, 1);
}

.marketInfoHeader .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(0, 167, 255, 1);
}

.grid {
  display: grid;
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 1%;
  width: 100%;
  height: auto;
  grid-template: auto / 29% calc(69% - 5px);
  column-gap: 5px;
}

.informationColumn {
  background-color: rgba(0, 167, 255, .8);
}

.chartColumn {
  background-color: rgba(0, 167, 255, .8);
}

.chartColumn p {
  color: rgba(7, 12, 16, .8);
}

form h1, form h2, form h3, form h4, form h5, form h6, form p, form label, form span {
  color: rgba(255, 255, 255, .9);
}

form section:not(.FormOfInvestment) label {
  width: 100%;
}

form {
  margin: 2%;
}

form section {
  padding-left: 4%;
}

button, input {
  background-color: rgba(255, 255, 255, .7);
}

.submission {
  text-align: center;
  margin-bottom: 2%;
  padding-left: 0px;
}

body {
  background-image: url("../financeSector.JPG");
  background-size: cover;
  background-position: center;
  color: white;
}

.shadedBackground {
  height: 100%;
  margin-top: 2.5%;
  padding-right: 10%;
  padding-left: 10%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: rgba(7, 12, 16, .7);
}

#InvestmentChart {
  width: 100%;
  height: auto;
}

.navbar {
  width: 100%;
}

.navbar-right {
  margin-right: 0px;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

#symbolInput {}

#symbolSubmit {}