<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Ryan's Financial Workshop: Creative Project</title>
</head>

<body>
  <div id="app">
    <ul class="nav nav-tabs nav-justified" id="navigationBar">
      <li class="nav-item">
        <a class="nav-link" href="/index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Market Info</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pages/InvestmentCalculator.html">Investment Calculator</a>
          <a class="dropdown-item" href="/pages/DebtMortgageCalculator.html">Debt/Mortgage Calculator</a>
          <a class="dropdown-item" href="/pages/BecomeDebtFree.html">Become Debt Free</a>
        </div>
      </li>
    </ul>

    <!-- <div class=" marketInfoHeader"> -->
    <ul class="nav nav-tabs nav-justified" id="MarketNavigationBar">
      <li class="nav-item">
        <a class="nav-link" id="AnnualizedButton">Annualized Returns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="GraphButton">Graph</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="ChartButton">Chart</a>
      </li>
    </ul>


    <div class="marketInfoContainer" id="marketInfoArea">

      <label>Symbols you would like to see:</label>
      <input id="symbolInput" v-model="symbol" type="text"></input><br />
      <input id="symbolSubmit" type="submit" value="Submit" @click="addSymbol"></input>
      <div class="gridContainer" id="annualizedGrid">
        <div class="Sticker">Sticker</div>
        <div class="1d">1 Day</div>
        <div class="1m">1 Month</div>
        <div class="3m">3 Months</div>
        <div class="6m">6 Months</div>
        <div class="1y">1 Year</div>
        <div class="2y">2 Years</div>
        <div class="5y">5 Years</div>


        <div v-for="data in stockData">
          {{data}}
        </div>


      </div>
    </div>

    <footer class="footer">
      <a href="https://github.com/ryanrodeback/FinancialWebsite" rel="noopener noreferrer" target="_blank">Created by Ryan Rodeback</a>
    </footer>

  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>

<script text="type/javascript" src="/scripts/MarketInfoScript.js"></script>





</html>